
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,600&family=Work+Sans:ital,wght@0,700;1,700&display=swap');

 * {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }



div{
   display: flex; 
   gap: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
 align-items: center;
}
nav > ul {
display: flex;
}
nav li{
    align-items: center;
    display: flex;

    list-style: none;
    margin-right: 32px;
    
}
nav li a{
    text-decoration: none;
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
}
.gamer{
    width: 86.041px;
height: 40px;
display: flex;
align-items: center;
}


    

.rose-colour{
    color: #F948B2;
    
}
.nav-title{
    text-align: center;
font-size:45px;
font-weight:700 ;
}
.follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 260px;
    align-items: center;
    padding-left: 24px;
    gap: 5px;


    
  
height: 56px;

}
.follow i {
    margin-right: 16px;
}
    